@model IEnumerable<RealEstate.Models.Client>

@{
    ViewData["Title"] = "Client List";
}

<h1>Client List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realtor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingRep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Realtor.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanOfficer.FirstName) @Html.DisplayFor(modelItem => item.LoanOfficer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingRep.FirstName) @Html.DisplayFor(modelItem => item.ClosingRep.LastName)
            </td>
            <td>
                <a asp-action="EditChecklist" asp-route-id="@item.ChecklistId">See Checklist</a> |
                <a asp-action="ClientDetails" asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="AddClientRepresentatives" asp-route-id="@item.ClientId">Add Representative</a>
            </td>
        </tr>
}
    </tbody>
</table>
